{% load static %}

<link rel="apple-touch-icon" sizes="180x180" href="{% static 'blog/img/favicons/apple-touch-icon.png' %}">
<link rel="icon" type="image/png" sizes="32x32" href="{% static 'blog/img/favicons/favicon-32x32.png' %}">
<link rel="icon" type="image/png" sizes="16x16" href="{% static 'blog/img/favicons/favicon-16x16.png' %}">
<link rel="icon" type="image/png" sizes="16x16" href="{% static 'blog/img/favicons/android-chrome-192x192.png' %}">
<link rel="icon" type="image/png" sizes="16x16" href="{% static 'blog/img/favicons/android-chrome-512x512.png' %}">
<link rel="icon" type="image/png" href="{% static 'blog/img/favicons/favicon-32x32.png' %}" sizes="32x32">
<link rel="icon" type="image/png" sizes="16x16" href="{% static 'blog/img/favicons/favicon.ico' %}">