// out: ../contact-page.css, compress: false

/*
Developed by helloDigi
https://hellodigi.ru/
*/

@import "variables";

.contact-page {
    .single-header {
        margin-bottom: 50px;
    }
    
    .post-description {
        margin: 0;
    }
}