{% extends 'accounts/base.html' %}
{% load i18n %}

{% block title %}{% trans "Password Reset Done" %}
{% endblock title %}

{% block contents %}
<div class="page-wrap contact-page">
	<div class="page-wrap-content">
		<div class="breadcrumbs">
			<div class="wrap wrap-center">
				<div class="wrap_float">
					<a href="{% url 'blog:home' %}">{% trans "Home" %}</a> / <a href="#">{% trans "Accounts" %}</a> / <span class="current">{% trans "Reset Password" %}</span>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="modal  modal_reset" style="margin: 0 auto;">
	<div class="wrap">
		<div class="wrap_float">
			<div class="wrap wrap-center">
				<h2 class="title">{% trans "Reset your password done" %}</h2>
				<div class="subtitle">
					{% trans "If you don't receive an email, please make sure you're entered the address you registered with." %}
				</div>
				
			</div>
		</div>
	</div>
</div>


{% endblock contents %}
