{% extends 'accounts/base.html' %}
{% load i18n %}

{% block title %}{% trans "Password Reset" %}
{% endblock title %}

{% block contents %}
<div class="page-wrap contact-page">
	<div class="page-wrap-content">
		<div class="breadcrumbs">
			<div class="wrap wrap-center">
				<div class="wrap_float">
					<a href="{% url 'blog:home' %}">{% trans "Home" %}</a> / <a href="#">{% trans "Accounts" %}</a> / <span class="current">{% trans "Forgot Password" %}</span>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="modal  modal_reset" style="margin: 0 auto;">
	<div class="wrap">
		<div class="wrap_float">
			<div class="wrap wrap-center">
				<form action="{% url 'password_reset' %}" method="post">
					{% csrf_token %}
					<h2 class="title">{% trans "Forgot password?" %}</h2>
					<div class="subtitle">
					{% blocktrans %}Use the e-mail and password that you specified when registering on the site. By clicking 'Reset Password' we will send a password reset link or{% endblocktrans %} <a href="{% url 'accounts:sign-in' %}">{% trans "back login." %}</a>
					</div>
					<div class="modal-form">
						<div class="input-wrap white-label">
							<input type="text" class="input" name="{{ form.email.name }}" placeholder="Email">
						</div>
						<button type="submit" class="btn submit-btn">
							<span>{% trans "Reset Password" %}</span>
						</button>
					</div>
					<div class="modal-info">
						<p>{% trans "Don’t have an account?" %} <a href="{% url 'accounts:sign-up' %}">{% trans "Create your own right now." %}</a></p>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

{% if messages %}
    {% for message in messages %}
    <div class="bottom-message {{ message.tags }}-message" id="{{ message.tags }}-message">
        <span>
            {{ message|escape }}
        </span>
    </div>
    {% endfor %}
{% endif %}

{% endblock contents %}

{% block extra_scripts %}
<script>
setTimeout(function () {
    jQuery("#success-message").addClass("visible");
}, 1000);

setTimeout(function () {
    jQuery("#success-message").removeClass("visible");
}, 4000);
</script>
{% endblock extra_scripts %}
