{% extends 'blog/base.html' %} {% load static i18n %} 
{% block title %}Memories Risset{% endblock title %}
{% block contents %}
<div class="main-page-posts">
  <div class="wrap">
    <div class="wrap_float">
      <div class="post-items-list posts-grid">
        {% for post in posts %} {% if post.image %}
        <a href="{{ post.get_absolute_url}}" class="post-item">
          <img src="{{ post.image.url }}" alt="" class="post-bg-img" />
          <div class="post-tags">
            {% for tag in post.tags.all %}
            {% if forloop.counter <= 2 %}
            <div class="tag">{{ tag }}</div>
            {% endif %}
            {% endfor %}
          </div>
          <h3 class="post-title">{{ post.title }}</h3>
          <div class="post-info">
            <div class="post-author post-info-author">
              <div class="author-image">
                <img
                  src="{{ post.author.profile.avatar.url }}"
                  alt=""
                  class="image-cover"
                />
              </div>
              <span
                >{% if post.author.first_name %}{{ post.author.first_name}} {{ post.author.last_name}}{% else %}{{ post.author.username }}{% endif %}</span
              >
            </div>
            <div class="post-date post-info-date">
              {{ post.pub_date|date:"d F, Y"}}
            </div>
            {% if request.user.is_authenticated %}
            <div class="post-views post-info-views">{{ post.like_count }}</div>
            {% endif %}
          </div>
        </a>
        {% else %}
        <a href="{{ post.get_absolute_url}}" class="post-item without-bg">
          <div class="post-tags">
          {% for tag in post.tags.all %}
            <div class="tag">{{tag|title}}</div>
          {% endfor %}
          </div>
          <h3 class="post-title">{{ post.title}}</h3>
          <div class="post-excerption">{{ post.excerpt}}</div>
          <div class="post-info">
            <div class="post-author post-info-author">
              <div class="author-image">
                <img
                  src="{{ post.author.profile.avatar.url }}"
                  alt=""
                  class="image-cover"
                />
              </div>
              <span
                >{{ post.author.first_name}} {{ post.author.last_name}}</span
              >
            </div>
            <div class="post-date post-info-date">
              {{ post.pub_date|date:"d F, Y"}}
            </div>
            {% if request.user.is_authenticated %}
            <div class="post-views post-info-views">{{ post.like_count }}</div>
            {% endif %}
          </div>
        </a>
        {% endif %} {% endfor %} 
      </div>
      
      {% if is_paginated %}
      <div class="pagination centered">
          <div class="pagination-links">
            {% for num in page_obj.paginator.page_range %}
              {% if page_obj.number == num %}
              <a href="#" class="pag-link current">{{ num }}</a>
              {% else %}
              <a href="?page={{num}}" class="pag-link">{{num}}</a>
              {% endif %}
            {% endfor %}
          </div>
      </div>
      {% endif %}

    </div>
  </div>
</div>

<div class="newsletter-section section">
  <div class="wrap">
    <div class="wrap_float">
      <div class="wrap wrap-center">
        <div class="subscribe-form-block">
          <h2 class="title">{% trans "Newsletter" %}</h2>
          <div class="subtitle">
            {% blocktrans %}Get information that is informative, motivating and in accordance with facts. Protect yourself from fraud, and be someone who is open minded.
            {% endblocktrans %}
          </div>
          {% comment %} {% include 'newsletter/newsletter_form.html' %} {% endcomment %}
          <form enctype="multipart/form-data" method="post" action="/newsletter/memories/subscribe/">
          {% csrf_token %}
            <div class="form">
              <div class="form-fields">
                <div class="input-wrap">
                  <input type="text" name="name_field" maxlength="30" id="id_name_field" class="input" placeholder="Name*" />
                </div>
                <div class="input-wrap">
                  <input type="email" name="email_field" required="" id="id_email_field" class="input" placeholder="Email*" />
                </div>
                <button id="id_submit" name="submit" value="Subscribe" type="submit" class="btn submit-btn">
                  <span>Subscribe</span>
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock contents %}
