.Regular {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}
.Bold {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}
.Medium {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}
.pointer:hover {
  cursor: pointer;
}
.pointer:hover * {
  cursor: pointer;
}
.overflow {
  overflow: hidden;
  -webkit-mask-image: -webkit-radial-gradient(white, black);
}
.image-cover {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
  display: block;
}
.block {
  display: block;
  float: left;
}
.block100 {
  display: block;
  float: left;
  width: 100%;
}
.transition {
  transition: all 0.2s linear;
}
*:hover {
  cursor: default;
}
.single-header .post-tags .tag:hover {
  background: #0D84FB;
  color: #fff;
}
.single-header.header-wide {
  color: #fff;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background: #000;
  margin-bottom: 50px;
}
.single-header.header-wide .bg-img {
  position: absolute;
  top: 0;
  left: 0;
}
.single-header.header-wide .wrap_float {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: end;
      justify-content: flex-end;
  position: relative;
  z-index: 2;
  min-height: 800px;
  padding: 80px 0 80px;
}
.single-header.header-wide .wrap_float > *:last-child {
  margin-bottom: 0;
}
.single-header.header-wide .breadcrumbs {
  position: absolute;
  top: 0;
  color: #fff;
  padding-top: 25px;
}
.single-header.header-wide .breadcrumbs a {
  color: #fff;
}
.single-header.header-wide .breadcrumbs .current {
  color: #8e8e8e;
}
.single-header.header_version_1:before {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, #000 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#000000', GradientType=0);
  position: absolute;
  content: '';
  bottom: 0;
  left: 0;
  width: 100%;
  height: 90%;
  z-index: 1;
}
.single-header.header_version_1:after {
  background: linear-gradient(to bottom, #000 0%, rgba(0, 0, 0, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#00000000', GradientType=0);
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  height: 100px;
  width: 100%;
  opacity: 0.6;
}
.single-header.header_version_1 .bg-img {
  opacity: 0.8;
}
.single-header.header_version_2:before,
.single-header.header_version_2:after {
  display: none;
}
.single-header.header_version_2 .wrap_float {
  height: 82vh;
  min-height: 600px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: center;
      justify-content: center;
  max-width: 440px;
}
.single-header.header_version_2 .bg-img {
  opacity: 0.48;
}
.single-header.header_version_2 .page-title {
  font-size: 32px;
  line-height: 40px;
}
.single-header.header_version_2 .post-description {
  font-size: 16px;
  line-height: 24px;
}
.single-header.header_video .wrap_float {
  height: 82vh;
  min-height: 600px;
  -ms-flex-pack: center;
      justify-content: center;
}
.single-header.header_video .bg-img {
  opacity: 0.58;
}
.single-header .post-author:hover span {
  text-decoration: underline;
}
.breadcrumbs {
  color: #8E8E8E;
  font-size: 14px;
  margin-bottom: 34px;
  position: relative;
  z-index: 2;
}
.breadcrumbs a {
  color: #1d1d1d;
}
.breadcrumbs a:hover {
  text-decoration: underline;
  color: #1d1d1d;
}
.breadcrumbs a.home-link {
  color: #8E8E8E;
}
.page-title {
  font-size: 50px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  line-height: 56px;
  margin-bottom: 27px;
}
.post-description {
  font-size: 22px;
  color: #8E8E8E;
  line-height: 36px;
  margin: 20px 0;
}
.post-image-large {
  width: 1200px;
  margin-left: -228px;
  margin-top: 40px;
  margin-bottom: 40px;
}
.post-image-large img {
  max-width: 100%;
  width: 100%;
  display: block;
  float: left;
  border-radius: 13px;
}
.post-preview-item {
  background: #ebebeb;
  min-height: 180px;
  padding-left: 260px;
  padding-top: 35px;
  padding-right: 35px;
  padding-bottom: 25px;
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: space-evenly;
      justify-content: space-evenly;
  margin: 20px 0;
  border-radius: 4px;
  overflow: hidden;
}
.post-preview-item-cover {
  width: 224px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}
.post-preview-item-cover img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
  display: block;
  border-radius: 0 !important;
  margin: 0 !important;
}
.post-preview-item .tag {
  font-size: 12px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  color: #8E8E8E;
  margin-bottom: 3px;
}
.post-preview-item .post-author .author-image img {
  border-radius: 0;
  margin: 0;
}
.post-preview-item.without-img {
  background: #ebebeb;
  padding-left: 35px;
}
.source-info {
  font-size: 14px;
  color: #8E8E8E;
  line-height: 22px;
  margin-top: 50px;
}
.source-info .source-link {
  font-size: 14px;
  position: relative;
  padding-left: 25px;
  line-height: 16px;
}
.source-info .source-link:before {
  width: 16px;
  height: 16px;
  background: url(../img/source-link.svg) center center no-repeat;
  background-size: contain;
  position: absolute;
  content: '';
  left: 0;
  top: 0;
}
.source-info .source-link span {
  color: #0D84FB;
  border-bottom: 1px solid #0D84FB;
}
.single-content {
  padding-bottom: 62px;
}
.articles-controls {
  border-top: 1px solid #DCDEE1;
  border-bottom: 1px solid #DCDEE1;
}
.articles-controls .post-title {
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  line-height: 20px;
  margin-bottom: 0;
}
.articles-controls-item {
  min-height: 177px;
  width: 50%;
  padding-top: 45px;
  -webkit-appearance: 45px;
     -moz-appearance: 45px;
          appearance: 45px;
  transition: background .2s linear;
  display: block;
  float: left;
}
.articles-controls-item-wrapper {
  width: 372px;
}
.articles-controls-item.prev-article {
  padding-right: 50px;
  text-align: right;
  border-right: 1px solid #DCDEE1;
  margin-right: -1px;
}
.articles-controls-item.prev-article .articles-controls-item-wrapper {
  float: right;
}
.articles-controls-item.prev-article .control-direction {
  padding-left: 18px;
  float: right;
}
.articles-controls-item.prev-article .control-direction:before {
  left: 0;
}
.articles-controls-item.next-article {
  padding-left: 50px;
  border-left: 1px solid #DCDEE1;
}
.articles-controls-item.next-article .control-direction {
  padding-right: 18px;
}
.articles-controls-item.next-article .control-direction:before {
  right: 0;
  transform: rotate(180deg);
}
.articles-controls-item:hover {
  background: #ebebeb;
}
.articles-controls-item .control-direction {
  color: #8E8E8E;
  font-size: 12px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  line-height: 30px;
  position: relative;
  width: auto;
  margin-bottom: 5px;
}
.articles-controls-item .control-direction:before {
  width: 12px;
  height: 8px;
  background: url(../img/article-control-arrow.svg) center center no-repeat;
  background-size: contain;
  position: absolute;
  content: '';
  top: 50%;
  margin-top: -4px;
}
.see-also-items .post-item {
  display: none;
}
.see-also-items .post-item:nth-child(3n) {
  margin-right: 0;
}
.see-also-items .post-item:nth-child(-n+6) {
  display: block;
}
.see-also-items.odd-count .post-item {
  display: none;
}
.see-also-items.odd-count .post-item:nth-child(-n+3) {
  display: -ms-flexbox;
  display: flex;
}
.posts-list-section .post-preview-item {
  background: none;
  margin-top: 0;
  margin-bottom: 20px;
  padding-bottom: 20px;
}
.posts-list-section .post-preview-item:last-child {
  margin-bottom: 0;
}
.posts-list-section .post-preview-item .post-tags {
  margin-bottom: 8px;
}
.posts-list-section .post-preview-item .post-title {
  margin-bottom: 10px;
  font-size: 19px;
  line-height: 24px;
}
.posts-list-section .post-preview-item .post-preview-item-cover {
  border-radius: 4px;
}
.posts-list-section .post-preview-item.without-img {
  background: #ebebeb;
}
.seo-section {
  margin-top: 100px;
}
.open-video-link {
  font-size: 17px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  padding-right: 48px;
  position: relative;
  width: auto;
  line-height: 38px;
  -ms-flex-item-align: start;
      align-self: flex-start;
}
.open-video-link:hover {
  cursor: pointer;
}
.open-video-link:hover * {
  cursor: pointer;
}
.open-video-link:before {
  width: 38px;
  height: 38px;
  border: 3px solid rgba(255, 255, 255, 0.35);
  position: absolute;
  content: '';
  right: 0;
  top: 0;
  border-radius: 50%;
  box-sizing: border-box;
  background: url(../img/play-btn.svg) center right 10px no-repeat;
  background-size: 10px 12px;
}
.dark .post-preview-item {
  background: #2b2b2b;
}
.dark .articles-controls-item.prev-article,
.dark .articles-controls-item.next-article,
.dark .articles-controls {
  border-color: #3C3C3C;
}
.dark .articles-controls-item:hover {
  background: #2b2b2b;
}
.dark .input-wrap.white-label.active label {
  background: #1d1d1d;
}
.dark .input-wrap.white-label.active .input {
  background: none;
}
.dark .other-posts-slider-item.without-bg {
  background: #2b2b2b;
}
.dark .other-posts-slider-item.without-bg:hover {
  background: #393939;
}
.dark .other-posts-slider-item.without-bg .other-post-info {
  background: none;
}
.dark .other-posts-slider-item .other-post-info {
  background: rgba(43, 43, 43, 0.95);
}
.dark .posts-list-section .post-preview-item.without-img {
  background: #2b2b2b;
}
.dark .posts-list-section .post-preview-item {
  background: none;
}
.dark .breadcrumbs a {
  color: #fff;
}
.dark .breadcrumbs a:hover {
  color: #fff;
}
@media screen and (min-width: 481px) {
  .posts-list-section .post-preview-item {
    padding-top: 20px;
  }
}
@media screen and (min-width: 1001px) {
  .single-header.header-wide.with-wide-wrap .wrap {
    max-width: 960px;
  }
  .single-header.header-wide.with-wide-wrap .wrap .wrap_float {
    max-width: 744px;
  }
}
@media screen and (min-width: 1231px) {
  .single-header.header-wide.with-wide-wrap .wrap {
    max-width: 1200px;
  }
}
@media screen and (max-width: 1600px) {
  .single-header.header-wide .wrap_float {
    min-height: 665px;
    padding-bottom: 65px;
  }
}
@media screen and (max-width: 1400px) {
  .single-header.header-wide .wrap_float {
    min-height: 550px;
  }
  .single-header.header_version_2 .wrap_float,
  .single-header.header_video .wrap_float {
    height: auto;
  }
}
@media screen and (max-width: 1230px) {
  .page-title {
    font-size: 40px;
    line-height: 46px;
  }
  .post-description {
    font-size: 20px;
    line-height: 30px;
  }
  .post-image-large {
    width: 850px;
    margin-left: -100px;
  }
}
@media screen and (max-width: 1000px) {
  .single-header .wrap-center,
  .seo-section .wrap-center {
    max-width: 720px;
  }
  .breadcrumbs {
    margin-bottom: 30px;
  }
  .breadcrumbs .wrap {
    max-width: 720px;
  }
  .post-image-large {
    width: 720px;
    margin-left: 0;
  }
  .post-image-large {
    width: 100vw;
    margin-left: -4vw;
    transform: none;
    border-radius: 0;
  }
  .post-image-large .caption-text {
    padding: 0 4vw;
    width: 100%;
  }
  .post-image-large img {
    border-radius: 0;
  }
  .articles-controls-item-wrapper {
    width: 314px;
  }
  .articles-controls-item.prev-article {
    padding-right: 40px;
  }
  .articles-controls-item.next-article {
    padding-left: 40px;
  }
  .articles-controls-item {
    padding-top: 36px;
  }
  .see-also-items .post-item:nth-child(3n) {
    margin-right: 20px;
  }
  .see-also-items .post-item:nth-child(even) {
    margin-right: 0;
  }
  .single-header.header-wide .wrap_float {
    padding-top: 100px;
  }
  .see-also-items.odd-count .post-item:nth-child(4) {
    display: block;
  }
}
@media screen and (max-width: 760px) {
  .post-image-large img {
    border-radius: 0;
  }
  .post-preview-item-cover {
    width: 190px;
  }
  .post-preview-item {
    padding-left: 220px;
  }
  .articles-controls {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
  }
  .articles-controls-item {
    width: 100%;
    min-height: 150px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center;
  }
  .articles-controls-item.prev-article {
    border-right: 0;
    padding: 20px 4vw;
    -ms-flex-pack: start;
        justify-content: flex-start;
    text-align: left;
  }
  .articles-controls-item.next-article {
    border-left: 0;
    padding: 20px 4vw;
    -ms-flex-pack: end;
        justify-content: flex-end;
    -ms-flex-order: -1;
        order: -1;
    border-bottom: 1px solid #dcdee1;
    text-align: right;
  }
  .articles-controls-item.next-article .control-direction {
    float: right;
  }
  .articles-controls-item.prev-article .control-direction {
    float: left;
  }
  .articles-controls .post-title {
    font-size: 18px;
    line-height: 26px;
  }
  .articles-controls-item-wrapper {
    width: 100%;
    max-width: 510px;
  }
  .posts-list-section .wrap-center {
    max-width: 92vw;
  }
}
@media screen and (max-width: 590px) {
  .page-title {
    font-size: 34px;
    line-height: 40px;
  }
  .post-description {
    font-size: 18px;
    line-height: 26px;
  }
  .post-preview-item-cover {
    width: 160px;
  }
  .post-preview-item {
    padding-left: 190px;
    padding-right: 20px;
  }
  .post-preview-item .post-author {
    margin-right: 0;
  }
  .post-preview-item .post-date {
    clear: both;
    margin-top: 10px;
  }
  .post-image-large {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .see-also-items .post-item:nth-child(3) {
    display: -ms-flexbox;
    display: flex;
  }
  .single-header.header-wide .wrap_float {
    padding-bottom: 60px;
    min-height: 430px;
  }
  .single-header.header-wide {
    margin-bottom: 40px;
  }
  .see-also-items .post-item:nth-child(-n+4) {
    display: none;
  }
  .see-also-items .post-item:nth-child(-n+3) {
    display: block;
  }
  .see-also-items.odd-count .post-item:nth-child(4) {
    display: none;
  }
  .seo-section {
    margin-top: 60px;
  }
}
@media screen and (max-width: 480px) {
  .page-title {
    font-size: 30px;
    line-height: 38px;
  }
  .post-image-large {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .post-preview-item-cover {
    width: 100%;
    height: 50vw;
  }
  .post-preview-item {
    padding-left: 20px;
    padding-top: 56vw;
  }
  .post-preview-item .post-info {
    -ms-flex-pack: justify;
        justify-content: space-between;
    margin-top: 14px;
  }
  .post-preview-item .tag {
    margin-bottom: 8px;
  }
  .post-preview-item .post-date {
    clear: none;
    margin-top: 0;
  }
  .articles-controls .post-title {
    font-size: 17px;
    line-height: 24px;
  }
  .breadcrumbs {
    margin-bottom: 24px;
  }
  .posts-list-section .post-preview-item {
    margin-bottom: 13px;
    background: #fafafa;
  }
  .posts-list-section .post-preview-item.without-img {
    padding-top: 25px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .posts-list-section .post-preview-item .post-info .post-author {
    width: 100%;
    margin-bottom: 8px;
  }
  .single-header.header_version_2 .page-title {
    font-size: 30px;
    line-height: 38px;
  }
}
@media screen and (max-width: 400px) {
  .post-excerption {
    line-height: 19px;
  }
}
